In [13]:
import pandas as pd

In [14]:
pathCSV = 'books.csv'

In [15]:
df = pd.read_csv(pathCSV)

Q-1) How many rows and columns are there in books.csv dataset?

In [16]:
numRows, numColumns = df.shape
print(f"The dataset has {numRows} rows and {numColumns} columns.")

The dataset has 399 rows and 24 columns.

Q-2) How many books do not have an original title?

In [17]:
booksWithoutOriginalTitle = df[df['original_title'].isnull()].shape[0]
print(f"There are {booksWithoutOriginalTitle} books without an original title.")

There are 36 books without an original title.

Q-3) How many unique books are present in the dataset ? Evaluate based on the 'book_id' after removing null values in the original_title column.

Remove null values in the original title column

In [18]:
dfRemovedNull = df.dropna(subset=['original_title'])

Count the number of unique books based on 'book_id'

In [19]:
uniqueBooks = dfRemovedNull['book_id'].nunique()
print(f"There are {uniqueBooks} unique books based on the 'book_id' after removing null values in the 'original_title' column.")

There are 363 unique books based on the 'book_id' after removing null values in the 'original_title' column.