In [2]:
import pandas as pd

In [3]:
pathCSV='books.csv'

In [4]:
df=pd.read_csv(pathCSV)

Q-1) How many rows and columns are there in books.csv dataset?

In [14]:
countRows, countColumns = df.shape
print(f"The dataset has {countRows} rows and {countColumns} columns.")

The dataset has 399 rows and 24 columns.

Q-2) How many books do not have an original title?

In [15]:
booksWithoutOriginalTitle = df[df['original_title'].isnull()].shape[0]
print(f"There are {booksWithoutOriginalTitle} books without an original title.")

There are 36 books without an original title.

Q-3) How many unique books are present in the dataset ? Evaluate based on the 'book_id' after removing null values in the original_title column.

Remove null values in the original title column

In [16]:
dfRemovedNull = df.dropna(subset=['original_title'])

Count the number of unique books based on 'book_id'

In [17]:
uniqueBooks = dfRemovedNull['book_id'].nunique()
print(f"There are {uniqueBooks} unique books based on the 'book_id' after removing null values in the 'original_title' column.")

There are 363 unique books based on the 'book_id' after removing null values in the 'original_title' column.

Q-4) What is the average rating of all the books in the dataset based on ‘average_rating’?

In [18]:
averageRating = df['average_rating'].mean()
print(f"The average rating of all the books in the dataset is: {averageRating:.2f}")

The average rating of all the books in the dataset is: 3.98

Q-5) Find the number of books published in the year ‘2000’ based on the ‘original_publication_year’.

Books based on original publication year of 2000

In [19]:
booksPublication = df[df['original_publication_year'] == 2000]

Count the number of books published in the year '2000'.

In [20]:
countBooksPublished = booksPublication.shape[0]
print(f"The number of books published in the year 2000 is: {countBooksPublished}")

The number of books published in the year 2000 is: 8

Q-6) Which book (title) has the maximum number of ratings based on ‘work_ratings_count’.

Books with the maximum number of rating

In [21]:
maxRatingBook = df.loc[df['work_ratings_count'].idxmax()]

Title of the book

In [29]:
bookTitle = maxRatingBook['title']
print(f"The book with the maximum number of ratings is: {bookTitle}")

The book with the maximum number of ratings is: The Diary of a Young Girl